@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');
* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h1,h2,h3,h4 {
  color:#04a6df;
  font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
  margin: 0;
  padding-bottom: 10px;
}

h1 {
  font-weight: 600;
}

h2,h3,h4 {
  font-weight: 200;
}

h1.green,h2.green,h3.green,h4.green {
  color: #8dc73f;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size:22px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  padding-bottom: 20px;
}

hr {
  border-bottom: 2px solid #04a6df;
  border-top: 0;
  margin-top: 20px;
}

input {
  width: 100%;
  border-width:0;
  height: 45px;
  padding:5px;
  font-size:24px;
  text-align: center;
}

.label {
  display:block;
  border-width:0;
}

label.inline, input.inline {
  display:inline;
}

img {
  max-width: 100%;
}

.white {
  color:white;
}

.black {
  color: black;
}

.gray {
  color: #666;
}

.bg-blue {
  background-color: #04a6df;
}

.bg-green {
  background-color: #8dc73f;
}

.bg-gray {
  background-color: #a7a9ac;
}

.row {
  display:flex;
  justify-content: space-between;
}

.two-column {
  flex-basis:45%;
}

.five-column {
  flex-basis: 18%;
  width:18%;
}

.container {
	padding: 20px 20px;
  border-radius: 10px;
}

.border-bottom {
  border-bottom: 2px solid #04a6df;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.tooltip.trigger,
.dependent .dependent-value span.tooltip.trigger {
    transform: translate(10px,-1px);
    display: inline-block;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    font-weight: bold;
    padding-top: 1px;
    cursor: pointer;
}

.dependent .dependent-value .tooltip.trigger span, .assumptions .tooltip.trigger span {
  font-size: 10px;
  position: absolute;
  right: 6px;
}

.warning {
    display: block;
    margin-top: 4px;
    color: white;
}

/* specific styles */

.totalAnnualCases h3 {
  padding-top:40px;
}

.totalAnnualCases .automatic {
	background-color: #00a4e5;
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.totalAnnualCases .automatic .times {
  margin: 0 20px;
  font-size: 48px;
  font-weight:400;
  transform: translateY(-15px);
}

.totalAnnualCases .manual {
	background-color: #8dc73f;
}

.totalAnnualCases .manual input {
  display: inline;
  width: 150px;
  margin-left: 20px;
}

.totalAnnualCases .label {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: -.5px;
}

.totalAnnualCases .manual .label {
  margin-bottom: 10px;
  margin-top: 0;
} 

.results h1 {
   margin-bottom: 20px;
   font-weight: normal;
}

.results label {
  font-size: 18px;
}

.results label.large {
  font-size:28px;
}

.assumptions .container {
  margin-bottom:16px;
}

.assumptions h3 {
  margin-top: 20px;
  transform: translateY(2px); /* gets things to line up on baseline */
}

.assumptions .label {
  margin-bottom:10px;
}

.assumptions .label, .results .label {
  display:block;
}

.assumptions .tooltip.trigger {
    color: #8dc83f;
    background-color: white;
}

.dependent-value {
  display:block;
}

.assumptions input {
  width: 150px;
}

.small-input input {
  width:100px;
}

.cla .container {
  border: 4px solid #a7a9ac;
  padding: 0 0 5px 0;
}

.cla-intro {
  padding: 10px;
  border-radius: 4px 4px 0 0;
  line-height: 20px;
}

.dependent {
  padding: 6px 0;
}

.dependent + .dependent {
  padding-top: 0;
}

.dependent label {
  margin-bottom: 4px;
}

.dependent .dependent-value span {
  font-size: 20px;
  font-weight: bold;
}

.dependent.large-value .dependent-value span {
  font-size: 28px;
}

body .dependent .dependent-value span.tooltip.trigger {
  background-color: #8dc73f;
  color: white;
  transform: translate(10px,-1px);
}

.surgicair-logo {
  margin-top: -6px;
  margin-bottom: 1px;
  width: 140px;
}

.container.reduction {
  border: 4px solid #04a6df;
  padding: 0;
}

.reduction .rate {
  padding: 10px;
}

.reduction .rate .label {
  margin-bottom: 4px;
}

.reduction .section:not(:last-child) {
  border-bottom:4px solid #04a6df;
}

.reduction input {
  width: 150px;
  height: 32px;
}

.rate .section {
  padding: 12px 0; 
}

.reduction .section label {
  color: #04a6df;
}

.reduction .roi label{
  font-size: 48px;
}

 .roi .dependent-value span {
  font-size: 36px;
 }

.reduction .roi .circle {
  height: 110px;
  width: 110px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: white;
  background-color: #04a6df;
}

.roi .months {
  text-transform: uppercase;
  display: block;
}

.roi .dependent-value {
  margin-top: -7px; /* making alignment in circle look good */
}


@media screen and (max-width:1200px) {

  .reduction15, .reduction30 {
    display:none;
  }

  .row {
    flex-wrap: wrap;
  }

  .two-column, .five-column {
    flex-basis: 100%;
    width: 100%;
  }

  .five-column {
    max-width: 400px;
    margin: auto;
  }

  .totalAnnualCases .manual input {
    margin-left: 0;
  }

  .results h1 {
    text-align:center;
  }

  .results .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .totalAnnualCases .automatic .times {
    font-size: 60px;
  }

  .assumptions h3 {
    margin-top: 0;
  }

  .assumptions .container {
    margin-bottom: 10px;
  }

  .surgicair-logo {
    margin: 10px 0;
  }
}

@media screen and (max-width:500px) {
  .totalAnnualCases h3 {
    padding-top:20px;
  }
  .totalAnnualCases .automatic {
    flex-wrap: wrap;
  }

  .totalAnnualCases .automatic .control {
    width: 100%;
  }

  .totalAnnualCases .hybrid label {
    display:block;
    margin: 0 0 10px 0;
  }

  .ReactModal__Content {
    padding:10px!important;
    width:85%!important;
  }
}